@layer reset, base, header, clients, bestseller;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
    }

    html,
    body {
        height: 100%;
        overflow-x: hidden;
        font-size: 14px;
        line-height: 1.5;
    }
}

/* variações de cores */

@layer base {
    :root {
        --dark-bg-color: #252B42;
        --light-bg-color: #FFFFFF;
        --primary-color: #23A6F0;
        --secondary-color: #2D8BC0BF;
        --highlitgh-color: #23856D;
        --hover-text-color: #2A7CC7;
        --dark-text-color: #252B42;
        --medium-text-color: #737373;
        --light-text-color: #FFFFFF;
        --light-gray: #FAFAFA;
        --muted-color: #BDBDBD;
    }
}

@layer base {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }
}

@layer header {
    header {
        #fixed-nav, #home-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            padding: 1.2rem 2rem;

            .flex-info {
                display: flex;
                align-items: center;
                gap: 8px;

                img {
                    width: 16px;
                    height: 16px;
                }

                .mail-info {
                    margin-inline-start: 1rem;
                }
            }
        }

        #fixed-nav {
            background-color: var(--dark-bg-color);
            color: var(--light-text-color);
            display: none;
        }

        #home-nav {
            display: flex;
        }
    }
}

@layer clients {
        #clients ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 7rem 0;
        }
    }

@layer bestseller {
        #bestseller-products {
            padding: 5rem 0;
            text-align: center;

            .bestseller-subtitle {
                display: none;
            }

            h2, p {
                width: 100%;
                max-width: calc(100% - 10rem);
                margin: auto;
            }

            > h2 {
                text-transform: uppercase;
                margin-block-end: 1rem;
            }
            
            .bestseller-text {
                margin-block-end: 3rem;
            }

            #product-card-grid {
                display: flex;
                flex-direction: column;
                gap: 5rem;

                .product-card:nth-child(n + 6) {
                display: none;
            }

                img {
                    margin-block-end: 1.5rem;
                }

                h3, p {
                    margin-block-end: 1.5rem;
                }

                .text-color {
                    color: var(--medium-text-color);
                }

                p {
                    font-weight: 600;
                }

                .price-discount span:nth-of-type(1) {
                    margin-right: 10px;
                    color: var(--muted-color);
                }

                .price-discount span:nth-of-type(2) {
                    color: var(--highlitgh-color);
                }
            }

            button {
                text-transform: uppercase;
                color: var(--primary-color);
                font-weight: 700;
                padding: 1rem 0;
                background-color: transparent;
                outline: none;
                border: 1px solid var(--primary-color);
                border-radius: 7px;
                width: 100%;
                max-width: 250px;
                margin: auto;
                cursor: pointer;
                transition: all .3s;
            }

            button:hover {
                color: var(--light-text-color);
                background-color: var(--primary-color);
            }
        }
    }